#particle-canvas {
    width: 100%;
    height: 100%;
    
  }
  .text-layout {
	position: absolute;
	top: 50%;
  right: 40%;
  left: 2%;
	transform: translate(15%,-50%);
	color: #ffd105;
	max-width: 90%;
	padding: 1em 3em;
	background: rgba(0, 0, 0, 0.8);
	text-shadow: 0px 0px 2px #131415;
    z-index: 2;
    margin-top: 5%;
}

@media screen and (width:769) {
    .text{
        right: 50% !important;
    }
  }